@using CLC_MinesweeperMVC.Models
@model UserModel

@{
    ViewBag.Title="Registration";
}

<h2>Registration</h2>
@using(Html.BeginForm("Register", "Registration", FormMethod.Post)) {
    <span>First Name:</span> @Html.TextBoxFor(UserModel => UserModel.firstname)
    <br />
    <span>Last Name: </span> @Html.TextBoxFor(UserModel => UserModel.lastname)
    <br />
    <span>Gender: </span> @Html.TextBoxFor(UserModel => UserModel.sex)
    <br />
    <span>Age: </span> @Html.TextBoxFor(UserModel => UserModel.age)
    <br />
    <span>Adress: </span> @Html.TextBoxFor(UserModel => UserModel.address)
    <br />
    <span>State: </span> @Html.TextBoxFor(UserModel => UserModel.state)
    <br />
    <span>Zip Code: </span> @Html.TextBoxFor(UserModel => UserModel.zipcode)
    <br />
    <span>Email Address: </span> @Html.TextBoxFor(UserModel => UserModel.email)
    <br />
    <span>Username: </span> @Html.TextBoxFor(UserModel => UserModel.username)
    <br />
    <span>Password: </span> @Html.TextBoxFor(UserModel => UserModel.password)
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-default" />
        </div>
    </div>
}
