@using Models.Extended
@model User1

<h2>Login</h2>

@using(Html.BeginForm("Login", "Login", FormMethod.Post)) {
    @Html.AntiForgeryToken()
<div>
    <span>Enter Your Userame:</span> @Html.TextBoxFor(UserModel => UserModel.USERNAME)
    @Html.ValidationMessageFor(UserModel => UserModel.USERNAME)
    <br />
    <span>Enter Your Password: </span> @Html.PasswordFor(UserModel => UserModel.PASSWORD)
    @Html.ValidationMessageFor(UserModel => UserModel.PASSWORD)
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
            <br />
            <input type="submit" value="Register" class="btn btn-default" formaction="/User/Registration" />
        </div>
    </div>
</div>
}